In [2]:
scientists = pd.DataFrame(
data={'Occupation': ['Chemist','Statician'],
     'Born':['1920-07-25', '1876-06-13'],
     'Died':['1958-04-16', '1937-10-16'],
     'Age':[37, 61]},
index=['RosaLine Franklin', 'William Gosset'],
columns=['Occupation', 'Born','Died','Age'])

In [3]:
print(scientists)

                  Occupation        Born        Died  Age
RosaLine Franklin    Chemist  1920-07-25  1958-04-16   37
William Gosset     Statician  1876-06-13  1937-10-16   61

In [5]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [6]:
print(first_row)

Occupation     Statician
Born          1876-06-13
Died          1937-10-16
Age                   61
Name: William Gosset, dtype: object

In [8]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [9]:
print(first_row.values)

['Statician' '1876-06-13' '1937-10-16' 61]

In [11]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
print(first_row.index[0])

Occupation

In [18]:
print(first_row.keys()[0])

Occupation

In [19]:
ages = scientists['Age']
print(ages)

RosaLine Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [23]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

In [41]:
scientists = pd.read_csv('data/scientists.csv')
ages = scientists['Age']
#print(scientists)

print(ages.max())
print(ages.mean())

90
59.125

In [34]:
# 평균나이보다 나이가 많은 사람
ages[ages > ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [37]:
print(ages > ages.mean())
print(type(ages > ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

In [39]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [42]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [43]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [45]:
print(ages + 100)
print(ages * 2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [47]:
print(pd.Series([1,100]))
print(ages + pd.Series([1, 100]))

0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [48]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64